.calendar {
  background-color: var(--mdc-theme-surface, #424242);
  border-radius: 4px;
  color: var(--mdc-theme-text-primary-on-light, #fff);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  user-select: none;
}

.calendar > p {
  margin: 0;
  padding: 0;
}

.calendar__header {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  padding-bottom: 5px;
}

.calendar__table {
  display: grid;
  grid-template-columns: 1fr repeat(5, 2fr) 1fr;
}

.calendar__fill {
  flex: 1;
}

.calendar__cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar__cell:nth-child(7n) {
  justify-content: flex-end;
}

.calendar__cell:nth-child(7n + 1),
.calendar__cell:first-child {
  justify-content: flex-start;
}

.calendar__headerTitle {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
}

.calendar__cell--header {
  padding: 5px;
}

.calendar__headerControl--icon {
  padding: 5px;
  background: transparent;
  border-radius: 50%;
}

.calendar__headerControl--icon:hover {
  background: rgba(255, 255, 255, 0.5);
}

.calendar-day__cell {
  border-radius: 50%;
  padding: 5px;
  background-color: transparent;
}

.calendar-day__cell:hover {
  background: rgba(255, 255, 255, 0.5);
}

.calendar-day__cell--disabled {
  opacity: 0.5;
}

.calendar-day__cell--active:not(.calendar-day__cell--selected) {
  background-color: rgba(255, 0, 255, 0.5);
}

.calendar-day__cell--selected {
  border: 1px solid var(--mdc-theme-text-primary-on-light, #fff);
  margin: -1px;
}

.calendar-picker {
  max-height: 430px;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}

.calendar-picker__chip {
  border-radius: 25px;
  border: 1px solid var(--mdc-theme-text-primary-on-light, #fff);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  margin: 3px;
}

.calendar-picker__chip--active {
  background: rgba(255, 0, 255, 0.5);
  border: none;
}

.calendar-picker::-webkit-scrollbar {
  display: none;
}

.calendar-picker {
  -ms-overflow-style: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
